#nanumPenFont{
	font-family: 'Nanum Pen Script', cursive;
	font-size: 150%;
}
#juaFont{
	font-family: 'Jua', sans-serif;
}
#squarePeg{
	font-family: 'Square Peg', cursive;
}

.color-primaryBackground {
	color:rgb(47, 109, 74);
}

.graygreen {
	background-color: rgba(4, 58, 4, 0.758);
	width: 200px;
	height: 120px;
}

.font-50 {
	font-size: 50px;
}
